<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="GDQSchedule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AGDQ2015Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        
        <GDQSchedule.Properties.Settings>
            <setting name="TimeOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EventName" serializeAs="String">
                <value>&lt;Enter Event Name&gt;</value>
            </setting>
            <setting name="Link" serializeAs="String">
                <value>&lt;Enter Web Link&gt;</value>
            </setting>
        </GDQSchedule.Properties.Settings>
        <AGDQ2015Forms.Properties.Settings>
            <setting name="TimeOffset" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EventName" serializeAs="String">
                <value>SGDQ 2015</value>
            </setting>
        </AGDQ2015Forms.Properties.Settings>
    </userSettings>
</configuration>